body {
  font: 100% Cursive, sans-serif;
  color: #333;
  background-color: rgb(23, 63, 104);
}

.button {
  padding: 10px;
  color: #333;
}

.title {
  color: #333;
  font-size: 40px;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

#recipe-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: solid;
  background-color: rgb(131, 131, 148);
  color: #1a1a1a;
  padding: 20px;
  font-size: 25px;
}

.search-bar {
  position: relative;
  left: 0em;
  top: 2.1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4em;
  color: rgb(43, 5, 5);
}

#textBox {
  z-index: 1000;
  font-size: 20px;
}

.cookie {
  width: 100px;
  height: 100px;
  margin: 20px;
  position: relative;
  left: 20em;
  top: 2em;
  color: rgb(88, 54, 11);
}

#view {
  position: relative;
  left: 22em;
  top: 9.4em;
  align-items: center;
  font-size: 1.5em;
  color: white;
  border: solid;
  background-color: rgb(242, 218, 218);
  color: #1a1a1a;
  padding: 5px;
}

#post {
  position: relative;
  left: 50em;
  top: 8em;
  align-items: center;
  font-size: 1.5em;
  color: white;
  border: solid;
  background-color: rgb(242, 218, 218);
  color: #1a1a1a;
  padding: 5px;
}

.login {
  padding: 20px;
}

#username {
  margin: 10px;
}

#password {
  margin: 10px;
}

.banner-text {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(243, 242, 242);
  font-size: 50px;
  text-align: center;
}

.banner-text1 {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(147, 93, 22);
  font-size: 50px;
  text-align: center;
}

#signup {
  position: absolute;
  top: 35%;
  left: 12%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  text-align: center;
}

.sign {
  position: relative;
  top: 30%;
  left: 12%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 25px;
  text-align: center;
  text-decoration: underline;
  font-family: fantasy;
}

#login {
  position: absolute;
  bottom: 50%;
  left: 18%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
}

#logout {
  position: absolute;
  top: 47%;
  left: 5%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  text-align: center;
}

#username {
  position: relative;
  top: 45%;
  left: 5%;
  transform: translate(-50%, -50%);
  color: rgb(54, 3, 3);
  font-size: 20px;
  text-align: center;
  margin: 15px;
  font-family: fantasy;
}

#password {
  position: relative;
  top: 17%;
  left: 4%;
  transform: translate(-50%, -50%);
  color: rgb(49, 4, 4);
  font-size: 20px;
  text-align: center;
  margin: 15px;
  font-family: fantasy;
}

.footer {
  position: absolute;
  bottom: 2%;
  left: 88%;
  transform: translate(-50%, -50%);
  color: rgb(243, 242, 242);
  font-size: 20px;
  text-align: center;
  font-family: fantasy;
  border: solid;
  border-style: dotted;
  border-color: rgb(233, 213, 213);
  padding: 5px;
  border-radius: 5%;
  background-color: rgb(103, 106, 127);
}

.background {
  position: absolute;
  top: 10%;
  right: 3%;
  height: 300px;
  width: 400px;
  border-radius: 8%;
}/*# sourceMappingURL=style.css.map */