<div class="comments">
  {{#each this}}
  <section class="comment">
    <div>
      <a href="/user/{{id}}" target="_blank">{{user.username}}</a>
    </div>
    <div class="text">
      {{comment_text}}
      <br></br>
    </div>
  </section>
  {{/each}}
</div>