<section class="card">
  <div class="card-body">
    <p><a href="/recipes/{{id}}">{{title}}</a></p>
    {{!-- CURRENTLY NON-FUNCTIONAL --}}
    {{!-- <button
      class="btn btn-sm btn-danger"
      data-id="{{recipe.id}}">DELETE
    </button>         --}}
  </div>
</section>