<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Curious Appetite</title>

    <link rel="stylesheet" href="/scss/reset.css">
    <link rel="stylesheet" href="/scss/jass.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/scss/style.css" />

    <script      
      src="https://code.jquery.com/jquery-3.6.2.min.js"
      integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="header">
      <div class="banner">
        <span class="banner-text">Curious Appetite.......Find Your Next Favorite Recipe!</span>
      </div>
      </header> 
      <div class="navbar">
        <div class="navbar-container">
          <div class="navbar-items">
            <a class="cutlery" href="/"><i class="fa fa-cutlery fa-5x"></i></a>
            <div class="search-bar">
              {{!-- Not a route --}}
              {{!-- <a href="/search" class="navbar-item" id="search"> --}}
              <input type="text" id="textBox" name="search-text" placeholder="Search for a recipe" />
              <button type="submit" id="searchButton"> 
                <i class="fas fa-search"></i></a>
              </button>
            </div>
            <a href="/recipes" class="navbar-item" id="view">View Recipes</a>
            <div>
              <a href="/post" class="navbar-item" id="post">Post a Recipe!</a>
              {{#if logged_in}}
                <button><a href="/profile">My Dashboard</a></button> |
                <button id="logout">Logout</button>
              {{else}}
                <button><a href="/login">Login</a></button>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
      <div class="main">
        <main>

                        
                    {{{body}}}
     {{!-- <img src="../images/background.jpg" --}}
                  </main>
    </div>

    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}

  </body>

</html>
