<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Curious Appetite</title>
    <link rel="stylesheet" href="/scss/reset.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/scss/style.css" />
    <script
      src="https://code.jquery.com/jquery-3.6.2.min.js"
      integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
      <a class="cookie" href="/"><i class="fa-solid fa-cookie-bite fa-8x"></i></a>
      <style="color: black"></style=
      <div class="navbar">
      <div class="navbar-container">
      <div class="navbar-items">
      <!--search bar-->
        <div class="search-bar">
          <a href="/search" class="navbar-item" id="search">
          <input type="text" id="textBox" name="search-text" placeholder="Search for a recipe" />
          <button type="submit" id="searchButton"> 
            <i class="fas fa-search"></i></a>
          </button>
        </div>
      <a href="/recipes" class="navbar-item" id="view">View Recipes</a>
      </div>

        <a href="/post" class="navbar-item" id="post">Post a Recipe!</a>
      </div>
    </div>
    <!--Cool animated banner-->
    <div class="banner">
      <span class="banner-text">Curious Appetite.......Find Your Next Favorite Recipe!</span>
    </div>
    <!--<img src="/images/background.jpg" alt="food" class="background" />-->

<p class="sign"><strong>Sign In</strong><i class="fa-solid fa-arrow-down"></i></p>
      <div class="login-container">  
    <div class="login" style="index: 1000"></div>
    
                
        <input type="text" id="username" placeholder="username">
        <input type="text" id="password" placeholder="******password">
        <class="login-items">
          <a href="/login" class="login-item" id="login">Login</a>
           <a href="/logout" class="login-item" id="logout">Logout</a>
          <a href="/signup" class="login-item" id="signup">Sign Up</a>
        
        </div>
      </div>
    </div>

      
    <div class="col md-8">
      <div class="container" id="recipe-container">
        <div class="row">
               
          <div class="col-md-12">
            <h2>Recipes</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                
                </p>
                <a href="./view" class="btn btn-primary">View Comments</a>
              </div>
            </div>
          </div>
        </div>
      
    
  

    
        

        


      {{{ body }}}
    </div>
  </div>
    
  <footer class="footer">
      <div class"content has text-centered">
        <div class="social">
      <a href="http://www.github.com"><i class="fab fa-github fa-3x" aria-hidden="true"></i></a>
        </div>
        <strong>Curious Appetite</strong> by Ann Hixson, Nate Hanisch, and Dave Proto.
        
      </div>
    </div>
  </footer>
      
  <script src="../public/js/logout.js">
  </script>
  <script src="../public/js/search.js">
  </script>

  </body>
</html>
