{{! <div class="container">
  <div id="content">
    <form class="form-inline">
      <div class="input-group">
        <input
          type="text"
          id="search"
          name="search-text"
          class="form-control search-form"
          placeholder="Search for a recipe"
        />
        <span class="input-group-btn" style="width:39px">
          <button type="submit" id="searchButton"><i
              class="fas fa-search"
            ></i></button>
        </span>
      </div>
    </form>
  </div>
</div> }}