<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Curious Appetite</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../style/style.css" />
    <script
      src="https://code.jquery.com/jquery-3.6.2.min.js"
      integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navbar">
      <a class="pepper" href="/"><i class="fas fa-pepper-hot fa-5x"></i></a>
      <a class="redpepper" href="/">
      <i class="fas fa-pepper-hot fa-5x" style="color: red"></i></a>
      <h1>Curious Appetite</h1>
      
        <span></span>
        <span></span>
        <span></span>
        <a href class="navbar-item" id="post">Post a Recipe</a>
        <a href class="navbar-item" id="view">View Recipes</a>
      
    </nav>

    <div class="container">
      
    <img src="../images/background.jpg" alt="Curious Appetite"
    class="background-image">
        <!--search bar-->
        <div class="search-bar">
          <input type="text" placeholder="Search for a recipe" />
          <button type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
        <!--LOGIN BUTTON-->
        <div class="login">
          <button type="submit" id="login">Login</button>
        </div>
  </body>
</html>
