<div class="dashboard">
<div class="row">
  <div class="col-auto" id="welcome">
    <h2>Welcome, {{user.name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6" id="add">
    <h3 id="text">Add Your Recipe!</h3>
    <form class="form new-recipe-form" id="enterrecipe">
      <div class="form-group card">
        <label for="name-recipe" class="card-body">Recipe Name:</label>
        <input
          class="form-input"
          type="text"
          id="name-recipe"
          placeholder="Enter your recipe"
        />
      </div>

      <div class="form-group card">
        <label for="ingredients-recipe" class="card-body">Ingredients:</label>
        <input
          class="form-input"
          type="text"
          id="ingredients-recipe"
          placeholder="Enter your ingredients"
        />
      </div>

      <div class="form-group card">
        <label for="instructions-recipe" class="card-body">Instructions:</label>
        <input
          class="form-input"
          type="text"
          id="instructions-recipe"
          placeholder="Enter your instructions"
        />
      </div>

      <div class="form-group card">
        <label for="tags-recipe" class="card-body">Tags:</label>
          {{#each tags as |tag|}}
            {{> tag-option-details}}
          {{/each}}
          <div class="card">
          <input
            class="form-input"
            type="checkbox"
            id="None_of_the_Above"
            name="None_of_the_Above"
            value="None_of_the_Above"
          />
          <label for="None_of_the_Above">None_of_the_Above</label>
          </div>
      </div>

      <div class="form-group">
        <button class="btn btn-primary" type="submit">Add Recipe</button>
      </div>
    </form>
  </div>

  {{#if recipes.length}}
    <div class="col-md-6 recipe-list">
      <h3>Your Recipes</h3>

      {{#each recipes as |recipe|}}
        {{> recipe-details}}
      {{/each}}
    </div>
  {{/if}}
</div>
</div>
<script src="/js/profile.js"></script>

