{{#each recipes as |recipe| }}
<div class="row mb-4">
  <div class="col-md-5">
    <h2>
      <a href="/recipes/{{recipe.id}}">{{recipe.title}}</a>
    </h2>
    <p>Posted by {{recipe.user.name}} 
    </p>
    <p>Tags: 
    {{#each tags as |tag|}}
    {{tag.tag_name}},
    {{/each}}
    </p>
  </div>
</div>
{{/each}}

